<table>
	<tr>
		<td>&nbsp&nbsp&nbsp&nbsp<b>Name</b></td>
		<td>&nbsp&nbsp&nbsp&nbsp<b>College</b></td>
		<td>&nbsp&nbsp&nbsp&nbsp<b>Class</b></td>
		<td>&nbsp&nbsp&nbsp&nbsp<b>Meet</b></td>
	</tr>
<% @ordered.each do |gymnast| %>
	<tr>
		<td>&nbsp&nbsp&nbsp&nbsp<%= gymnast.name %></td>
		<td>&nbsp&nbsp&nbsp&nbsp<%= gymnast.college %></td>
		<td>&nbsp&nbsp&nbsp&nbsp<%= gymnast.classz %></td>
		<td>&nbsp&nbsp&nbsp&nbsp<%= gymnast.meet.name %></td>
		
		<td>&nbsp&nbsp&nbsp&nbsp<%= link_to "Show", gymnast_path(gymnast.id) %></td>
		<td>&nbsp&nbsp&nbsp&nbsp<%= link_to "Edit", edit_gymnast_path(gymnast.id) %></td>
		<td>&nbsp&nbsp&nbsp&nbsp<%= link_to "Delete", gymnast, confirm: "OK to delete?", method: :delete %></td>
	</tr>
<% end %>
</table>