<table>
	<tr>
		<td>Name</td>
		<td>College</td>
		<td>Class</td>
		<td>Meet</td>
	</tr>
<% @gymnasts.each do |gymnast| %>
	<tr>
		<td><%= gymnast.name %></td>
		<td><%= gymnast.college %></td>
		<td><%= gymnast.classz %></td>
		<td><%= gymnast.meet.name %></td>
		
		<td><%= link_to "show gymnast", gymnast_path(gymnast.id) %></td>
		<td><%= link_to "edit gymnast", edit_gymnast_path(gymnast.id) %></td>
		<td><%= link_to "delete gymnast", gymnast, confirm: "OK to delete?", method: :delete %></td>
	</tr>
<% end %>
</table>