<%= form_for(@gymnast) do |f| %>
	<div class="field">
		<p>&nbsp&nbsp&nbsp&nbsp<b>Name</b></p>
		<p>&nbsp&nbsp&nbsp&nbsp<%= f.text_field :name %></p>
	</div>
	<div class="field">
		<p>&nbsp&nbsp&nbsp&nbsp<b>College</b></p>
		<p>&nbsp&nbsp&nbsp&nbsp<%= f.text_field :college %></p>
	</div>
	<div class="field">
		<p>&nbsp&nbsp&nbsp&nbsp<b>Class</b></p>
		<p>&nbsp&nbsp&nbsp&nbsp<%= f.number_field :classz, :min => 2014, :max => 2030 %></p>
	</div>
	<div class="field">
		<p>&nbsp&nbsp&nbsp&nbsp<b>Meet</b></p>
		<p>&nbsp&nbsp&nbsp&nbsp<%= f.collection_select :meet_id, current_host.meets, :id, :name %></p>
	</div>
	
	<div class="actions">
		<p>&nbsp&nbsp&nbsp&nbsp<%= f.submit %></p>
	</div>
	
	<% if @gymnast.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@gymnast.errors.count, "error") %> prohibited this gymnast from being saved:</h2>
	 
	    <ul>
	    <% @gymnast.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
<% end %>

