<%= form_for(@gymnast) do |f| %>
	<div class="field">
		<p>Name</p>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<p>College</p>
		<%= f.text_field :college %>
	</div>
	<div class="field">
		<p>Class</p>
		<%= f.number_field :classz, :min => 2014, :max => 2030 %>
	</div>
	<div class="field">
		<p>Meet</p>
		<%= f.collection_select :meet_id, current_host.meets, :id, :name %>
	</div>
	
	<div class="actions">
		<%= f.submit %>
	</div>
	
	<% if @gymnast.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@gymnast.errors.count, "error") %> prohibited this gymnast from being saved:</h2>
	 
	    <ul>
	    <% @gymnast.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
<% end %>

