<%= form_for(@score) do |f| %>
	<div class="field">
		<p>Gymnast</p>
		<%= f.collection_select :gymnast_id, Gymnast.all, :id, :name %>
	</div>
	<div class="field">
		<p>Vault</p>
		<%= f.number_field :vault, :min => 0.0, :max => 10.0, :step => 0.025 %>
	</div>
	<div class="field">
		<p>Bars</p>
		<%= f.number_field :bars, :min => 0, :max => 10, :step => 0.025 %>
	</div>
	<div class="field">
		<p>Beam</p>
		<%= f.number_field :beam, :min => 0, :max => 10, :step => 0.025 %>
	</div>
	<div class="field">
		<p>Floor</p>
		<%= f.number_field :floor, :min => 0, :max => 10, :step => 0.025 %>
	</div>
	<div class="field">
		<p>All Around</p>
		<%= f.number_field :all_around, :min => 0, :max => 40, :step => 0.025 %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>

	<% if @score.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>
	 
	    <ul>
	    <% @score.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
<% end %>