<%= form_for(@score) do |f| %>
	<div class="field">
		<p>&nbsp&nbsp&nbsp&nbsp<b>Gymnast</b></p>
		<p>&nbsp&nbsp&nbsp&nbsp<%= f.collection_select :gymnast_id, Gymnast.where(meet_id: current_host.meets), :id, :name %></p>
	</div>
	<div class="field">
		<p>&nbsp&nbsp&nbsp&nbsp<b>Vault</b></p>
		<p>&nbsp&nbsp&nbsp&nbsp<%= f.number_field :vault, :min => 0.0, :max => 10.0, :step => 0.025 %></p>
	</div>
	<div class="field">
		<p>&nbsp&nbsp&nbsp&nbsp<b>Bars</b></p>
		<p>&nbsp&nbsp&nbsp&nbsp<%= f.number_field :bars, :min => 0, :max => 10, :step => 0.025 %></p>
	</div>
	<div class="field">
		<p>&nbsp&nbsp&nbsp&nbsp<b>Beam</b></p>
		<p>&nbsp&nbsp&nbsp&nbsp<%= f.number_field :beam, :min => 0, :max => 10, :step => 0.025 %></p>
	</div>
	<div class="field">
		<p>&nbsp&nbsp&nbsp&nbsp<b>Floor</b></p>
		<p>&nbsp&nbsp&nbsp&nbsp<%= f.number_field :floor, :min => 0, :max => 10, :step => 0.025 %></p>
	</div>

	<div class="actions">
		<p>&nbsp&nbsp&nbsp&nbsp<%= f.submit %></p>
	</div>
	
	<% if @score.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>
	 
	    <ul>
	    <% @score.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
<% end %>
