<table>
	<tr>
		<td>&nbsp&nbsp&nbsp&nbsp<b>Meet</b></td>
		<td>&nbsp&nbsp&nbsp&nbsp<b>Name</b></td>
		<td>&nbsp&nbsp&nbsp&nbsp<b>Vault</b></td>
		<td>&nbsp&nbsp&nbsp&nbsp<b>Bars</b></td>
		<td>&nbsp&nbsp&nbsp&nbsp<b>Beam</b></td>
		<td>&nbsp&nbsp&nbsp&nbsp<b>Floor</b></td>
		<td>&nbsp&nbsp&nbsp&nbsp<b>All Around</b></td>
	</tr>
<% @ordered.each do |score| %>
	<tr>
		<td>&nbsp&nbsp&nbsp&nbsp<%= score.gymnast.meet.name %></td>
		<td>&nbsp&nbsp&nbsp&nbsp<%= score.gymnast.name %></td>
		<td>&nbsp&nbsp&nbsp&nbsp<%= score.vault %></td>
		<td>&nbsp&nbsp&nbsp&nbsp<%= score.bars %></td>
		<td>&nbsp&nbsp&nbsp&nbsp<%= score.beam %></td>
		<td>&nbsp&nbsp&nbsp&nbsp<%= score.floor %></td>
		<td>&nbsp&nbsp&nbsp&nbsp<%= score.all_around %></td>

		<td>&nbsp&nbsp&nbsp&nbsp<%= link_to "Show", score_path(score.id) %></td>
		<td>&nbsp&nbsp&nbsp&nbsp<%= link_to "Edit", edit_score_path(score.id) %></td>
		<td>&nbsp&nbsp&nbsp&nbsp<%= link_to "Delete", score, confirm: "OK to delete?", method: :delete %></td>
	</tr>
<% end %>
</table>