<h2><%= @score.gymnast.name %></h2>
<h3>All Around: <%= @score.all_around %></h3>
<p>Vault: <%= @score.vault %></p>
<p>Bars: <%= @score.bars %></p>
<p>Beam: <%= @score.beam %></p>
<p>Floor: <%= @score.floor%></p>
