<h2>&nbsp&nbsp<%= @score.gymnast.name %></h2>
<h4>&nbsp&nbsp&nbsp&nbspAll Around: <%= @score.all_around %></h4>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspVault: <%= @score.vault %></p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBars: <%= @score.bars %></p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBeam: <%= @score.beam %></p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFloor: <%= @score.floor%></p>
