<table>
	<tr>
		<td>name</td>
		<td>email</td>
		<td>password</td>
	</tr>
<% @meets.each do |meet| %>
	<tr>
		<td><%= host.name %></td>
		<td><%= host.email %></td>
		<td><%= host.password %></td>
		
		<td><%= link_to "show host", host_path(host.id) %></td>
		<td><%= link_to "edit host", edit_host_path(host.id) %></td>
		<td><%= link_to "delete host", host, confirm: "OK to delete?", method: :delete %></td>
	</tr>
<% end %>
</table>

