<h2>&nbsp&nbspSign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><p>&nbsp&nbsp&nbsp&nbspEmail</p>
  &nbsp&nbsp&nbsp&nbsp<%= f.email_field :email, :autofocus => true %></div>

  <div><p>&nbsp&nbsp&nbsp&nbspPassword</p>
  &nbsp&nbsp&nbsp&nbsp<%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div>&nbsp&nbsp&nbsp&nbsp<%= f.check_box :remember_me %> <br>
    	<p>&nbsp&nbsp&nbsp&nbspRemember Me</p>
    </div>
  <% end -%>

  <div>&nbsp&nbsp&nbsp&nbsp<%= f.submit "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>
