<%= form_for(@meet) do |f| %>
	<div class="field">
		<p>name</p>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<p>date</p>
		<%= f.text_field :date %>
	</div>
	<div class="field">
		<p>location</p>
		<%= f.text_field :location %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
