<%= form_for(@meet) do |f| %>
	<div class="field">
		<p>name</p>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<p>date</p>
		<%= f.date_select :date %>
	</div>
	<div class="field">
		<p>location</p>
		<%= f.text_field :location %>
	</div>
	
	<div class="actions">
		<%= f.submit %>
	</div>
	
	<% if @meet.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@meet.errors.count, "error") %> prohibited this meet from being saved:</h2>
	 
	    <ul>
	    <% @meet.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
<% end %>
